# --------------------------
# Python
# --------------------------
__pycache__/
*.py[cod]
*$py.class

# --------------------------
# Virtual Environment
# --------------------------
venv/
env/
ENV/
.venv/

# --------------------------
# Environment / Secrets
# --------------------------
.env
.env.*

# --------------------------
# Database / SQLite
# --------------------------
*.sqlite3
*.db

# --------------------------
# Logs
# --------------------------
*.log
logs/
*.out

# --------------------------
# IDE / Editor
# --------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# --------------------------
# OS Files
# --------------------------
.DS_Store
Thumbs.db

# --------------------------
# Migrations (если используешь Alembic)
# --------------------------
migrations/versions/
